body
{
font-size:75%;
font-family:verdana,arial,'sans serif';
color:#153744;
margin:10px;
}

h1 {font-size:250%; color:#05A30E;}
h2 {font-size:220%; color:#C3544E;}
h3 {font-size:200%; color:#76923C;}
